<html>
    <body>
        <form action="" method="POST">
            <input name ="searchbar"> <button>Search</button>
        </form>
    </body>
</html>
<script>
    document.querySelector('form').onchange = function() {
    this.setAttribute('action',"/"+ document.querySelector('input[name=searchbar]').value + "/search1");
  }</script>
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
<py-script src ="./scraper.py"></py-script>